.feedbacks-container {
    padding: 130px 170px 150px;
    background-image: url('../assets/jpg/feedbacks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.feedbacks-slides-container {
    padding-top: 60px;
    padding-bottom: 80px;
}

.feedback-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.feedback-slide-img {
    border-radius: 50%;
    width: 115px;
    height: 115px;
}

.feedback-slide-ranking {
    padding-top: 20px;
    padding-bottom: 30px;
}

.feedback-slide-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.36px;
    color: #525C60;
}

.feedback-slide-name {
    padding-top: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.36px;
    color: var(--main-color);
}

.feedback-slide-position {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.36px;
    color: #525C60;
}

.feedbacks-slides-container .divider {
    margin-top: 80px;
    margin-bottom: 100px;
}

.feedback-pros-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-pros-block {
    flex: 0 0 24%;
}

.feedback-pros-outer {
    border: 6px solid #7EB693;
    border-radius: 50%;
    height: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.feedback-pros {
    border: 6px solid #FFF;
    border-radius: 50%;
    width: 188px;
    height: 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-pros-value {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.36px;
    color: var(--main-color);
}

.feedback-pros-hint {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.36px;
    color: var(--main-color);
}

@media (max-width: 1150px) {
    .feedbacks-container {
        padding: 90px 120px 100px;
    }
    .feedback-pros-outer {
        width: 150px;
        height: 150px;
    }

    .feedback-pros {
        width: 138px;
        height: 138px;
    }

    .feedback-pros-value {
        font-size: 32px;
    }

    .feedback-pros-hint {
        font-size: 14px;
    }
}

@media (max-width: 950px) {
    .feedback-slide-text {
        background-color: #fff;
        border-radius: 16px;
        padding: 15px;
    }

    .feedbacks-container {
        padding: 60px 40px 70px;
    }

    .feedbacks-slides-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .feedback-pros-outer {
        width: 100px;
        height: 100px;
    }

    .feedback-pros {
        width: 88px;
        height: 88px;
    }

    .feedback-pros-value {
        font-size: 24px;
    }

    .feedback-pros-hint {
        font-size: 12px;
    }
}

@media (max-width: 750px) {
    .feedbacks-container {
        padding: 60px 30px 60px;
    }
    .feedback-pros-container {
        flex-wrap: wrap;
    }
    .feedbacks-slides-container .divider {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .feedback-pros-block {
        flex: 0 0 48%;
        margin-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .feedbacks-container {
        padding: 30px 20px 20px;
    }
}