.products-container {
    padding-top: 120px;
    padding-bottom: 139px;
    text-align: center;
    flex-wrap: wrap;
}

.products-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checked {
    color: orange;
}

@media (max-width: 575px) {
    .products-cards-container {
        flex-wrap: nowrap;
        overflow-y: auto;
        padding-bottom: 20px;
    }

    .products-container {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}