.about-container {
    padding: 130px 30px;
    background-color: #F9F8F8;
    display: flex;
}

.about-img-container {
    flex: 0 0 50%;
}

.about-heading {
    font-size: 45px;
}

.about-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #525C60;
    margin-bottom: 56px;
}

.about-content-text {
    padding: 22px 0 26px;
}

.about-content-card {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.about-content .button-container:last-child {
    margin-top: 50px;
}

.about-card-img {
    flex-basis: 100px;
    height: 100px;
    min-width: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
}

.about-card-header {
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.about-card-inner-content {
    padding-left: 20px;
}

.about-card-content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0.36px;
    color: #525C60;
}

@media (max-width: 1159px) {
    .about-container {
        position: relative;
        display: block;
        padding: 60px 30px;
    }
    .about-img-container {
        position:absolute;
        top: 130px;
        left: 30px;
        bottom: 130px;
        right: 30px;
        z-index: 10;
        display: block;
        text-align: right;
    }
    .about-img-container img {
        opacity: 0.4;
    }
    .about-content {
        position: relative;
        z-index: 50;
    }
}

@media (max-width: 575px) {

    .about-container {
        padding: 60px 10px;
    }

    .about-heading {
        font-size: 35px;
    }

    .about-content {
        margin-bottom: 0;
    }

    .intro-slogan {
        font-size: 20px;
        letter-spacing: 0.36px;
    }

    .intro-content {
        font-size: 30px;
        margin: 0 0 14px 0;
    }

    .button-container {
        padding: 12px 6px;
        font-size: 14px;
    }

    .button-text {
        padding: 0 12px;
    }
 }

 @media (max-width: 480px) {
    .about-heading {
        font-size: 28px;
    }

    .about-content {
        font-size: 16px;
    }

    .about-card-header {
        font-size: 18px;
    }

    .about-card-inner-content {
        padding-left: 10px;
    }

    .about-card-content {
        font-size: 14px;
    }
 }