/* Animation of moving up and fade in */
.amf {
    transition: all .75s ease 0s;
    transform: translate(0, 120%);
    opacity: 0;
}

.amf-1 {
    transition: all .5s ease 0.15s;
    transform: translate(0, 100%);
    opacity: 0;
}

/* Fading animation */
.fade {
    opacity: 0;
    transition: opacity 1s ease 0.2s;
}

/* move from right to left animation */
.mr2l {
    transition: all .75s ease 0s;
    transform: translate(90%, 0);
    opacity: 0;
}

.scale {
    transition: all .75s ease 0s;
    transform: scale(0.5);
}

/* Animation finished classes (return to normal view) */
.amf.animated-done,
.amf-1.animated-done,
.mr2l.animated-done  {
    transform: translate(0, 0);
    opacity: 1;
}

.fade.animated-done {
    opacity: 1;
}

.scale.animated-done {
    transform: scale(1);
}