.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    padding-bottom: 130px;
}

.footer-header {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.footer-contacts {
    flex: 0 0 25%;
    text-align: right;
    padding-right: 10px;
}

.footer-contact {
    margin-top: 39px;
}

.footer-contacts-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-contact-header {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.36px;
    color: #525C60;
}

.footer-value {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.36px;
    color: #525C60;
}

.footer-social {
    flex: 0 0 50%;
    text-align: center;
    border-left: 2px solid #EFF6F1;
    border-right: 2px solid #EFF6F1;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-social-logo {
    justify-content: center;
}

.footer-social-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.36px;
    color: #525C60;
    padding-top: 44px;
    padding-bottom: 50px;
}

.footer-social-links {
    display: flex;
    justify-content: center;
}

.footer-social-link {
    width: 60px;
    height: 60px;
    background-color: #EFF6F1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px;
}

.footer-pages {
    text-align: left;
    padding-left: 10px;
    flex: 0 0 25%;
}

.footer-pages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-page {
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer-page-link {
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer-container {
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-social {
        flex: 0 0 100%;
        order: 3;
        border-left: none;
        border-right: none;
    }

    .footer-pages, .footer-contacts {
        flex: 0 0 50%;
    }

    .footer-contacts {
        text-align: left;
    }

    .footer-pages {
        text-align: right;
        border-left: 2px solid #EFF6F1;
    }

    .footer-social {
        margin-top: 25px;
    }
}

@media (max-width: 480px) {
    .footer-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-contacts {
        flex: 0 0 100%;
        text-align: left;
    }
    .footer-contact {
        margin-top: 8px;
    }
    .footer-pages {
        display: none;
    }
    .footer-social-text {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}