.offers2 {
    background-color: var(--main-color);
    padding: 140px 0;
}

.offers2-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.offers2-header {
    padding-right: 20px;
}

.offers2-header .subsection-heading {
    color: white;
}

@media (max-width: 999px) {
    .offers2 {
        padding: 70px 0;
    }
}

@media (max-width: 575px) {
    .offers2 {
        padding: 50px 0;
    }
    .offers2-header-container {
        padding-bottom: 30px;
    }
    .offers2-header-container .button-container {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 375px) {
    .offers2 {
        padding: 20px 0;
    }
    .offers2-header-container {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 20px;
    }
}