

.subscribe-email-container {
    background-image: url('../assets/jpg/subscribe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 16px;
}

.subscribe-email-hint {
    flex: 0 0 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.36px;
    color: #FFFFFF;
}

.subscribe-email-input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    padding: 26px 30px;
    min-width: 350px;
    height: 82px;
}

.subscribe-email-input {
    outline: none !important;
 }

 @media (max-width: 1200px) {
    .subscribe-email-hint {
        flex: 0 0 40%;
    }
}

@media (max-width: 1050px) {
    .subscribe-email-hint {
        flex: 0 0 100%;
        font-size: 40px;
    }
    .subscribe-email-container {
        flex-wrap: wrap;
    }
}

@media (max-width: 680px) {
    .subscribe-email-hint {
        flex: 0 0 100%;
        font-size: 30px;
    }

    .subscribe-container .button-container {
        font-size: 12px;
        padding: 12px 9px;
    }

    .subscribe-email-input {
        width: 100%;
        min-width: auto;
        padding: 10px;
        margin-bottom: 10px;
        height: 52px;
    }

    .subscribe-email-container {
        padding: 12px;
    }
}

@media (max-width: 575px) {
    .subscribe-email-hint {
        font-size: 20px;
    }
}